:root {
  --foreground-rgb: 17, 17, 17;
  --background-rgb: 235, 235, 235;
  --secondary-rgb: 160, 160, 160;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 233, 233, 233;
    --background-rgb: 17, 17, 17;
    --secondary-rgb: 107, 107, 107;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1 {
  font-weight: 400;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
main {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  row-gap: 1.5rem;
}

canvas {
  border: 1px solid rgb(var(--secondary-rgb));
  border-radius: 0.25rem;
  width: 100%;
  margin-bottom: 1rem;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
